# Created by .ignore support plugin (hsz.mobi)
### Empty folder template
# This folder is suppoused to be empty (to preserve folder structure in git)
# Ignore everything
*
# Except this file
!.gitignore

